.chat{
    flex:0.65;
    display:flex;
    flex-direction:column;
    background-color:#2F2E42;
}

.chat__header{
    background:#16172C;
    display:flex;
    padding:20px; 
    align-items:center;
    /* border-bottom: 1px solid #3DAC4B; */
}

.chat__headerInfo{
    flex:1;
    padding-left: 20px;
}

.chat__headerInfo > h3{
    margin-bottom: 3px;
    font-weight:500;
}

.chat__headerInfo> p{
    color: gray;
}

.chat__headerRight{
    display:flex;
    justify-content:space-between;
    min-width: 100px;
}

.chat__body{
    flex:1;
    padding:30px;
    overflow: auto;
}
.chat__message{
    position:relative;
    font-size:16px;
    padding:10px;
    background-color: #16172C;
    color:#fff;
    border-radius: 10px;
    width:fit-content;
    margin-bottom:20px;
}
.chat__name{
    position: absolute; 
    top:-18px;
    font-size:small;
    color:#3DAC4B;
}
.chat__timestamp{
    margin-left: 10px;
    font-size:x-small;
}
.chat__receiver{
    background-color:#3DAC4B;
    margin-left: auto;
}
 
.chat__footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
    border-top:1px solid #3DAC4B;
    background-color:#16172C;
}

.chat__footer >form{
    flex:1;
    display: flex;
    justify-content: space-around;
}

.chat__footer >form >input{
    flex:.9;
    border-radius: 30px;
    padding:8px;
    border:none;
    background-color: #2F2E42;
    outline: none;
    color:white;
    font-size:medium;
    caret-color:white;
}

.chat__footer >form >button{
    background: transparent;
    outline : none;
    border:none;
    color:#3DAC4B;
}
